<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <a href="/">Users</a>
    <a href="/state">State</a>
    <a href="/region">Region</a>
    <a href="/register">Registration</a>
    <a href="/login">Login</a>

    <h1>Register Your District</h1>

    <form action="/api/district/createDistricts" method="post">
        <input type="text" placeholder="name" required name="name" />
        <input type="text" placeholder="regionId" required name="regionId" />
        <button type="submit">Submit</button>
    </form>

            <h1>Delet by ID</h1>
            
            <form action="/api/district/deleteDistricts" method="post">
                <input type="text" placeholder="Enter District ID to delete" required name="id" />
                <button type="submit">Delete</button>
            </form>

        <h1>Districts</h1>
        
        <ol>
            <% data.forEach(function(districts) { %>
                <li>name: <%= districts.name %>, regionId: <%= districts.regionId %>
                </li>
                <% }) %>
        </ol>
</body>

</html>